.content {
    height: 470px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.box {
    height: 80%;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
}

.header {
    background-color: rgb(242, 242, 242);
    padding: 20px;
}

    .header h4 {
        margin: 0;
    }

.inputs {
    padding: 20px;
}

.name-input {
    width: 300px;
    margin-left: 27px;
}

.date {
    margin-top: 15px;
}

.date-input {
    margin-left: 35px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12px;
}

.gender {
    display: flex;
    margin-top: 15px;
}

.address {
    margin-top: 15px;
}

.address-input {
    width: 300px;
    margin-left: 11px;
}

.password {
    margin-top: 15px;
}

.password-input {
    width: 300px;
}

.phone {
    margin-top: 15px;
}

.phone-input {
    width: 300px;
    margin-left: 24px;
}

.error {
    font-size: 12px;
    padding-top: 10px;
}

.button-register {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
